@import 'breakpoints';
@import 'palette';

.zipInput {

    input {
        width: 25%;
        margin: 0 auto;
        border: 1px solid #c1cdce;
        padding: 10px 5px;

        font-size: 1.2em;
        text-align: center;

        cursor: text;
    }

    button {
        display: block;
        width: 25%;
        margin: 0 auto;
        border: none;
        padding: 10px;
        
        @include gradient-down(#fe885d, #ff5c6f);
        color: #fff;
        font-size: 1.2em;

        cursor: pointer;
    }
}

@media (min-width: $lg-width) {
    .zipInput {
        button {
            display: inline-block;
            width: auto;
        }
    }
}