@import 'reset';
@import 'fonts';
@import 'palette';

@mixin gradient($property) {
    background-image: -webkit-linear-gradient($property);
    background-image: -o-linear-gradient($property);
    background-image: linear-gradient($property);
}

section.mainIntro {
    background-color: $mainColor;
    @include gradient-down(#22c4cf, #9ee7ed);
    height: 576.5px;
    text-align: center;

    .zipInput {
        padding-top: 30px;

        input {
            width: 25%;
            margin: 0 auto;
            border: 1px solid #c1cdce;
            padding: 10px;
            font-size: 1.2em;
            text-align: center;

            cursor: text;
        }

        button {
            display: block;
            width: 25%;
            margin: 0 auto;
            border: none;
            padding: 10px;

            box-sizing: content-box;
            
            @include gradient-down(#fe885d, #ff5c6f);
            color: #fff;
            font-size: 1.2em;

            cursor: pointer;
        }
    }

    @media(min-width: $lg-width) {
        $widthMargin: 10%;
        text-align: left;

        background-image: url("./../img/side-mirror.jpg");
        background-size: cover;

        h1, h2, h3, h4 {
            margin-left: $widthMargin;
        }

        h1 {
            width: 55%;
        }

        h4 {
            width: 26%;
        }

        .zipInput {
            width: 65%;
            margin-left: $widthMargin;
            button {
                display: inline-block;
            }
        }

        .mobileCall {
            display: none;
        }
    }
}

section.mainTest {
    background-color: $secondaryColor;
    height: 802px;

    .sectionHeader {
        color: $charcoal;
        margin-block-start: 0px;
        margin-block-end: 0px;
        padding-top: 30px;
        padding-bottom: 15px;
        padding-left: 30px;
    }
}