@import 'reset';
@import 'fonts';
@import 'palette';

@mixin gradient($property) {
    background-image: -webkit-linear-gradient($property);
    background-image: -o-linear-gradient($property);
    background-image: linear-gradient($property);
}

section.mainIntro {
    background-color: $mainColor;
    @include gradient-down(#22c4cf, #9ee7ed);
    height: 576.5px;
    text-align: center;

    .zipInput {
        padding-top: 30px;

        input {
            width: 25%;
            margin: 0 auto;
            border: 1px solid #c1cdce;
            padding: 10px;
            font-size: 1.2em;
            text-align: center;

            cursor: pointer;
        }

        button {
            display: block;
            width: 25%;
            margin: 0 auto;
            border: none;
            padding: 10px;
            
            // background-image: linear-gradient(to bottom, #fe885d, #ff5c6f);
            @include gradient-down(#fe885d, #ff5c6f);
            color: #fff;
            font-size: 1.2em;

            cursor: pointer;
        }
    }
}

section.mainTest {
    .sectionHeader {
        color: $charcoal;
        padding-top: 30px;
        padding-left: 30px;
    }
}