@import 'reset';
@import 'fonts';
@import 'palette';
@import 'zipInput';

@mixin gradient($property) {
    background-image: -webkit-linear-gradient($property);
    background-image: -o-linear-gradient($property);
    background-image: linear-gradient($property);
}

section {
    h2.sectionHeader {
        color: $charcoal;
        margin-block-start: 0px;
        margin-block-end: 0px;
        padding-top: 30px;
        padding-bottom: 15px;
        padding-left: 30px;

        @media (min-width: $lg-width) {
            height: 100px;
            text-align: center;
        }
    }

    .checkBtn {
        // width: 225px;
        margin: auto;
        padding: 75px 0;

        button {
            width: 100%;
            margin: auto;
            padding: 10px 0;

            background-color: $btn-mainColor;
            color: #fff;
            font-size: 21px;

            border: 1px solid transparent;
            border-radius: 2px;
        }
    }
}

section.mainIntro {
    background-color: $mainColor;
    @include gradient-down(#22c4cf, #9ee7ed);
    height: 576.5px;
    text-align: center;

    .zipInput {
        padding-top: 30px;
    }

    @media(min-width: $lg-width) {
        $widthMargin: 10%;
        text-align: left;

        background-image: url("./../img/side-mirror.jpg");
        background-size: cover;

        h1, h2, h3, h4 {
            margin-left: $widthMargin;
        }

        h1 {
            width: 55%;
        }

        h4 {
            width: 26%;
        }

        .zipInput {
            width: 65%;
            margin-left: 10%;
        }

        .mobileCall {
            display: none;
        }
    }
}

section.mainTest {
    background-color: $secondaryColor;
    padding: 50px 0;

    .testDisplay {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
        align-items: stretch;

        .testimonial {
            display: inline-block;
            border: 1px solid #c1cdce;
            margin: 15px 0px;
            padding: 5% 7%;
            box-sizing: border-box;

            background-color: #fff;


            .testReview {
                color: #747678;
                line-height: 25px;
                margin-bottom: 20px;
            }
            .testName {
                color: $mainColor;
                font-size: 20px;
            }
            .ratingStar {
                display: inline-block;
                background-image: url("./../img/star.png");
                height: 15px;
                width: 15px;
            }

            
        }
        @media (min-width: $lg-width) {
            width: 85%;
            padding: 0 5%;
            flex-direction: row;
            .testimonial {
                margin: 15px 10px;
                padding: 30px 50px;
            }
        }
    }
}

section.mainRate {
    background-color: #fafbfd;
    padding: 30px 0;

    .rateText {
        display: flex;
        flex-direction: column;

        width: 90%;
        margin: auto;
        padding-top: 50px;


        .mmGreenText {
            color: $font-mmGreen;
        }

        @media (min-width: $lg-width) {
            flex-direction: row;
            align-content: center;

            width: 70%;
            padding-top: 100px;

            div {
                width: 50%;
            }

            div:nth-child(2) {
                text-align: right;
            }
        }
    }

    .imageContainer {
        width: 100%;

        img {
            width: 100%;
            padding: 0 10px;
        }

        .rateExampleAdjust {
            padding: 0 100px;
        }

        @media (min-width: $lg-width) {
            img {
                padding: 0 20%;
            }

            .rateExampleAdjust {
                padding: 0 30%;
            }
        }
    }

    .checkBtn {
        width: 225px;
    }
}

section.mainSavings {
    background-color: #eff3f6;

    padding-top: 40px;
    padding-bottom: 40px;

    div {
        padding: 10px 0;
    }

    img {
        padding-left: 30px;
    }

    .savingsUpperContent {
        display: flex;
        flex-direction: column;


        .savingsText {
            padding-left: 30px;
            padding-right: 30px;
            line-height: 2em;
            color: $font-soft;

            p {
                margin-bottom: 0;
            }

            div {
                p, h2 {
                    color: $font-mmGreen;
                }

                h2 {
                    font-size: 36px;
                }
            }
        }

        @media (min-width: $md-width) {
            flex-direction: row;
        }
    }

    .savingsGraph {
        padding: 60px 0;
    }

    .checkBtn {
        width: 260px;
    }

    @media (min-width: $md-width) {
        padding-left: 10%;
        padding-right: 10%;

        .savingsUpperContent {
            flex-direction: row;

            .savingsText {
                padding-left: 150px;
            }
        }
    }
}