@import 'reset';
@import 'palette';

.nav-root-main {
    color: #747678;
    background-color: $mainColor;
    display: flex;

    padding-top: 20px;
    padding-left: 15px;

    .icon {
        float: left;
        height: 32px;
        min-width: 140px;
        
    }

    .menu-burger {
        display: none;
        float: right;
        margin-right: 20px;
        width: 32px;
        height: 32px;
    }

    @media (max-width: 768px) {
        .icon {
            height: auto;
            width: 140px;
        }
        
        .menu-burger {
            display: block;
        }
    }
}



