@import 'reset';
@import 'palette';
@import 'breakpoints';
@import 'zipInput';

.nav-root-main {
    color: #747678;
    background-color: $mainColor;
    display: flex;

    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 15px;

    .icon {
        float: left;
        height: 32px;
        min-width: 140px;

        padding-left: 10%;
        
        @media (max-width: $md-width) {
            .icon {
                height: auto;
                width: 140px;
            }
        }
    }

    .nav-menu-options {
        display: inline-block;

        padding: 5px 0;
        

        a {
            color: #fff;
            padding: 5px 20px;

            font-size: 18px;
        }
    }

    .nav-menu-contentRight {
        float: right;
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;

        margin-right: 5%;

        .nav-menu-phone {
            color: #fff;
            margin-right: 30px;
        }
    
        .zipInput {
            font-size: 12px;

            input {
                width: 110px;
            }
        }
    }

    

    .menu-burger {
        display: none;
        float: right;
        margin-right: 20px;
        width: 32px;
        height: 32px;

        @media (max-width: $md-width) {
            display: block;
        }
    }

    @media (max-width: $md-width) {
        .nav-menu-options, .zipInput {
            display: none;
        }
    }
}



