@import 'reset';
@import 'palette';
@import 'breakpoints';

.nav-root-main {
    color: #747678;
    background-color: $mainColor;
    display: flex;

    padding-top: 20px;
    padding-left: 15px;

    .icon {
        float: left;
        height: 32px;
        min-width: 140px;

        padding-left: 10%;
        
        @media (max-width: $md-width) {
            .icon {
                height: auto;
                width: 140px;
            }
        }
    }

    .nav-menu-options {
        padding: 5px 0;
        

        span, a {
            color: #fff;
            padding: 5px 20px;

            font-size: 18px;
        }
    }

    .menu-burger {
        display: none;
        float: right;
        margin-right: 20px;
        width: 32px;
        height: 32px;

        @media (max-width: $md-width) {
            display: block;
        }
    }
}



